<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "My button", "#", class: "btn btn-airbnb", style: "background-color: blue" %>
Private API keys:
<% if user_signed_in? %>
<ul>
  <li>ASDascaefasxcswefwe</li>
  <li>ASDascaefasxcswefwe</li>
  <li>ASDascaefasxcswefwe</li>
</ul>
<% else %>
  <p>No access!</p>
<% end %>



